.container {
  margin: 0;
  margin-left: 260px;
  padding: 0;
  max-width: 1660px;
}

.boxTitleWhite {
  margin: 1rem;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.boxTitle {
  margin: 1rem;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #392f5a;
}

.dailyKanjiCharacter {
  font-style: normal;
  font-weight: 400;
  font-size: 200px;
  line-height: 242px;
  color: #392f5a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}
.dailyKanjiCharacter .kunyomi {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}
.dailyKanjiCharacter .trad {
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
}
.dailyKanjiCharacter .romaji {
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
}

.title {
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  color: #392f5a;
}

.titleNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: #392f5a;
  margin-left: 1rem;
}

.vocTabBox {
  position: relative;
  flex: 1;
  height: 28rem;
  background: #be4772;
  margin-right: 35px;
}

.row {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 70px);
  margin: 0 auto;
  margin-bottom: 35px;
}
.row .kanaBox {
  position: relative;
  width: 28rem;
  height: 28rem;
  background: #9c88a5;
}
.row .trainingBox {
  position: relative;
  flex: 1;
  height: 28rem;
  background: #d3789a;
  margin-left: 35px;
}

.dailyKanjiBox {
  width: 28rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  perspective: 1000px;
}
.dailyKanjiBox .front {
  height: 100%;
  width: 100%;
  position: absolute;
  transform: rotateY(0deg);
  backface-visibility: hidden;
  transition: transform 0.4s linear;
}
.dailyKanjiBox .back {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  transition: transform 0.4s linear;
  background-color: #ffe0ef;
}

.dailyKanjiBox:hover .front {
  transform: rotateY(-180deg);
  cursor: pointer;
}

.dailyKanjiBox:hover .back {
  transform: rotateY(0deg);
  cursor: pointer;
}

.customNavbar {
  height: 7rem;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteIcon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  color: #392f5a;
}

.pinkSquare {
  width: 80px;
  height: 80px;
  background: #ffe4fd;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.mainContainer {
  padding-left: 35px;
  padding-right: 35px;
}

.icons {
  width: 48px;
  height: 48px;
  margin-left: auto;
}

.leftItems {
  display: flex;
}

.btnNav {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  background: white;
  border: none;
  padding: 0.5em 1em;
  color: #392f5a;
  text-transform: uppercase;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: 0.5s ease;
}

.btnNav::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 0;
  background-color: #392f5a;
  transition: 0.5s ease;
}

.btnNav:hover {
  color: #ffffff;
  z-index: 1;
  transition-delay: 0.5s;
}

.btnNav:hover::before {
  width: 100%;
}

.btnNav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #392f5a;
  transition: 0.4s ease;
  z-index: -1;
}

.btnNav:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #ffffff;
}

.btnText {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
}

.adminBox {
  position: relative;
  width: 28rem;
  height: 28rem;
  background: #4a2040;
}

.btnNavAdmin {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  background: white;
  border: none;
  padding: 0.5em 1em;
  color: #be4772;
  text-transform: uppercase;
  position: absolute;
  bottom: 1.5rem;
  right: 1.5rem;
  transition: 0.5s ease;
}

.btnNavAdmin::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0.1rem;
  width: 0;
  background-color: #be4772;
  transition: 0.5s ease;
}

.btnNavAdmin:hover {
  color: #ffffff;
  z-index: 1;
  transition-delay: 0.5s;
}

.btnNavAdmin:hover::before {
  width: 100%;
}

.btnNavAdmin::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #be4772;
  transition: 0.4s ease;
  z-index: -1;
}

.btnNavAdmin:hover::after {
  height: 100%;
  transition-delay: 0.4s;
  color: #ffffff;
}

.btnTextAdmin {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form__group .labelFormAdmin {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #392f5a;
  font-weight: 600;
}
.form__group .inputFormAdmin {
  width: 100%;
  border: 0;
  border-bottom: 3px solid #392f5a;
  outline: 0;
  font-size: 1.3rem;
  font-weight: 600;
  color: #392f5a;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  /* reset input */
}
.form__group .inputFormAdmin::placeholder {
  color: transparent;
}
.form__group .inputFormAdmin:placeholder-shown ~ .labelFormAdmin {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__group .inputFormAdmin:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 4px;
  border-image: linear-gradient(to right, #be4772, #f0a3bf);
  border-image-slice: 1;
}
.form__group .inputFormAdmin:focus ~ .labelFormAdmin {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #be4772;
  font-weight: 700;
}
.form__group .inputFormAdmin:required,
.form__group .inputFormAdmin:invalid {
  box-shadow: none;
}

.loginAdmin .boxTitle {
  font-size: 32px;
  margin: 0;
  margin-bottom: 32px;
}

.btnFormAdmin {
  font-weight: 700;
  font-size: 16px;
  background-color: #ffe4fd;
  outline: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 32px;
  height: 3rem;
}

.containerAdmin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.loginAdmin {
  border: 1px solid rgba(57, 47, 90, 0.1411764706);
  border-radius: 5px;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 18%;
}

.labelFormAdmin {
  position: relative;
}

.managmentBox {
  display: flex;
  background-color: #ffe4fd;
  width: 15rem;
  height: 15rem;
  margin-top: 35px;
  border: 1px solid transparent;
  border-radius: 15px;
  z-index: 0;
}
.managmentBox .boxTitle {
  font-size: 1.5rem;
  color: #392f5a;
}

.category {
  width: 55%;
  text-align: center;
}

.sidebar {
  padding: 5px;
  padding-top: 135px;
  position: absolute;
  top: 0;
  left: 0;
  width: 260px;
  height: 100%;
  background: #be4772;
  transition: width 0.4s;
  z-index: 0;
}

.sidebar a {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
  transition: 0.3s;
  color: #ffffff;
  text-decoration: none;
  height: 3.3rem;
}

.sidebar a:hover {
  background: #ffffff;
  color: #be4772;
  border-radius: 5px;
  height: 3.3rem;
}

input[type="text"] {
  display: inline-block;
  margin-right: 10px;
  height: 3rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border: 1px solid #bfbfbf;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#addCategoryForm {
  margin: 2rem;
  background: #ffffff;
}

.btnAddCategory {
  font-weight: 700;
  font-size: 16px;
  background-color: #be4772;
  outline: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 5px;
  color: #ffffff;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btnAddCategory:hover {
  background-color: rgba(190, 71, 114, 0.8509803922);
  box-shadow: none;
}

.btnAddCategory:active {
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.2);
  background-color: #be4772;
}

/*# sourceMappingURL=style.css.map */
