// navbar.scss

.customNavbar {
  height: 7rem;
  background-color: #ffffff;
  z-index: 1;
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteIcon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  color: $color-primary;
}

.pinkSquare {
  width: 80px;
  height: 80px;
  background: $color-quinary;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.mainContainer {
  padding-left: 35px;
  padding-right: 35px;
}
.icons {
  width: 48px;
  height: 48px;
  margin-left: auto;
}

.leftItems {
  display: flex;
  text-decoration: none; /* Remove default text underline */
  color: inherit; /* Inherit the color from parent */
}
