// navbar.scss

.customNavbar {
  height: 6rem;
}

.siteIcon {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */
  color: $color-primary;
}

.pinkSquare {
  width: 80px;
  height: 80px;
  background: $color-quinary;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.title {
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  color: $color-primary;
}

.frontTitle {
  height: 12rem;
}

.mainContainer {
  padding-left: 35px;
  padding-right: 35px;
}
