// mixins.scss

@mixin square($size, $background-color) {
  width: $size;
  height: $size;
  background-color: $background-color;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

@mixin box-title($color) {
  margin: 1rem;
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: $color;
}
