.title {
  height: 12rem;
  display : flex;
  justify-content : center ;
  align-items : center;
  font-style: normal;
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  color: $color-primary;
}

.titleNavbar {
  display : flex;
  justify-content : center ;
  align-items : center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  color: $color-primary;
  margin-left : 1rem;
}

.text {

  color : #392f5a ;
  font-weight: 600;
  font-size: 16px;

}